#include <os2.h>
#include "ffIDs.h"

RCINCLUDE filecopy.dlg
RCINCLUDE delete.dlg
RCINCLUDE createdr.dlg
RCINCLUDE rename.dlg
RCINCLUDE movefile.dlg
RCINCLUDE attrib.dlg
RCINCLUDE viewer.dlg
RCINCLUDE settings.dlg
RCINCLUDE paths.dlg
RCINCLUDE editor.dlg
RCINCLUDE archiver.dlg
RCINCLUDE users1.dlg
RCINCLUDE users2.dlg
RCINCLUDE users3.dlg
RCINCLUDE users4.dlg
RCINCLUDE users5.dlg
RCINCLUDE users6.dlg
RCINCLUDE users7.dlg
RCINCLUDE users8.dlg
RCINCLUDE zipname.dlg
RCINCLUDE about.dlg
RCINCLUDE zipgui.rc  //add-on rc file for the Unzip Shell
RCINCLUDE DDDest.dlg
RCINCLUDE DirHist.dlg
RCINCLUDE vollabel.dlg
RCINCLUDE refresh.dlg
RCINCLUDE search.dlg
RCINCLUDE append.dlg

BITMAP 1901 LOADONCALL MOVEABLE DISCARDABLE filefrdm.bmp

ICON STDWINDOWID filefrdm.ico
ICON 150 tool.ico
ICON 151 trash.ico
ICON 152 copy.ico
ICON 153 move.ico
ICON 154 rename.ico
ICON 155 attrib.ico
ICON 156 markall.ico
ICON 157 unmrkall.ico
ICON 158 zip.ico
ICON 159 unzip.ico
ICON 160 target.ico
ICON 161 flip.ico
ICON 162 edit.ico
ICON 163 append.ico
ICON 164 pmseek.ico
ICON 165 refresh.ico
ICON 166 stretchR.ico
ICON 167 stretchL.ico

ICON 298 fldropen.ico  // These icons MUST have the id #s of 298 and 299.
ICON 299 fldrclsd.ico

// This menu structure is used by the frame for the creation of the main menu and is also
// used as the structure for the Pop-Up Menu which is loaded in WM_CREATE.

MENU STDWINDOWID

BEGIN
   SUBMENU "~File",  MID_FILE,      ,
   BEGIN
      MENUITEM "Re~fresh Display\tShift+F12", MID_REFRESH,    ,
      MENUITEM "~Copy\tCtrl+C", MID_FILECOPY,      ,
      MENUITEM "A~ppend\tCtrl+P", MID_APPEND,     ,
      MENUITEM "~Move\tCtrl+M", MID_FILEMOVE,     ,
      MENUITEM "~Delete\tCtrl+D", MID_FILEDELETE,    ,
      MENUITEM "~Rename\tCtrl+R", MID_FILERENAME,    ,
      MENUITEM "~UnMark All Files\tF5", MID_UNMARKALL,   ,
      MENUITEM "Mar~k All Files\tF6", MID_MARKALL,  ,
      MENUITEM "Change ~Attributes\tCtrl+A", MID_FILEATTR,    ,
      MENUITEM "~Quit\tAlt+F4", SC_CLOSE, MIS_SYSCOMMAND,
   END
   SUBMENU "D~irectories", MID_DIRECTORIES,     ,
   BEGIN
      MENUITEM "Crea~te Directory\tCtrl+T", MID_CREATEDIR,    ,
      MENUITEM "~Set Destination\tF7", MID_DESTINATION,    ,
      MENUITEM "S~wap Source/Destination\tF8", MID_SWAPSandD,   ,
      MENUITEM "Sh~ow Directory Tree Size\tCtrl+S", MID_TREESIZE,   ,
      MENUITEM "Directory ~Bookmarks\tCtrl+B", MID_BOOKMARKS,   ,
   END
   SUBMENU "~Drives", MID_DRIVES,    ,
   BEGIN
      MENUITEM "~Next Drive\tCtrl+Left Arrow", MID_DRIVENEXT,   ,
      MENUITEM "~Previous Drive\tCtrl+Right Arrow", MID_DRIVEPREV,   ,
      MENUITEM SEPARATOR
      MENUITEM "~Refresh Volume Labels\tCtrl+Up Arrow", MID_REFRESHLABELS,   ,
      MENUITEM "~Write Volume Label\tCtrl+Down Arrow", MID_VOLUMELABEL,   ,
   END
   SUBMENU "~View", MID_VIEW,   ,
   BEGIN
      MENUITEM " Display Detail ~Headings\tCtrl+Z", MID_FILEHEADINGS, ,MIA_CHECKED
      MENUITEM " File ~Details View\tCtrl+Y", MID_FILEDETAIL,   ,MIA_CHECKED
      MENUITEM " File ~Icons View\tCtrl+X", MID_FILEICON,   ,
      MENUITEM " File ~Flowed View\tCtrl+W", MID_FILEFLOWED,   ,
      MENUITEM " Name ~View\tCtrl+V", MID_DEFAULTVIEW,  ,
      MENUITEM  SEPARATOR
      MENUITEM " Sort by ~Name Ascending\tShift+F5", MID_SORTBYNAME,   ,MIA_CHECKED
      MENUITEM " Sort by Na~me Decending\tCtrl+Shift+F5", MID_REVSORTBYNAME,   ,
      MENUITEM " Sort by ~Age Ascending\tShift+F6", MID_SORTBYDATE,   ,
      MENUITEM " Sort by A~ge Decending\tCtrl+Shift+F6", MID_REVSORTBYDATE,   ,
      MENUITEM " Sort by ~Size Ascending\tShift+F7", MID_SORTBYSIZE,   ,
      MENUITEM " Sort by Si~ze Decending\tCtrl+Shift+F7", MID_REVSORTBYSIZE,   ,
      MENUITEM " Sort by ~Extension Ascending\tShift+F8", MID_SORTBYEXT,   ,
      MENUITEM " Sort by E~xtension Decending\tCtrl+Shift+F8", MID_REVSORTBYEXT,   ,
      MENUITEM  SEPARATOR
      MENUITEM " Sh~ow Hidden Files", MID_SHOWHIDDEN,  ,MIA_CHECKED
      MENUITEM " Sho~w System Files", MID_SHOWSYSTEM,  ,MIA_CHECKED
      MENUITEM  SEPARATOR
      MENUITEM " Move Divider ~Right\tCtrl+E", MID_DIVIDERRIGHT,  ,
      MENUITEM " Move Divider ~Left\tCtrl+F", MID_DIVIDERLEFT,    ,
   END
   SUBMENU "~Options", MID_OPTIONS,   ,
   BEGIN
      MENUITEM "~Print File\tF9", MID_PRINT,   ,
      MENUITEM "~Edit File\tF11", MID_EDIT,    ,
      MENUITEM  SEPARATOR
      MENUITEM "~Search Tool\tShift+F11", MID_SEEK,   ,
      MENUITEM  SEPARATOR
      MENUITEM "~Force Zip Viewer\tShift+F2", MID_ZIPVIEWER,    ,
      MENUITEM "~Zip File(s)\tF2", MID_ZIP,   ,
      MENUITEM "~Unzip Zip File\tF3", MID_UNZIP,  ,
      MENUITEM "Unzip to New ~Dir\tShift F3", MID_UNZIPTODIR,  ,
      MENUITEM "~Test Zip File\tF4", MID_ZIPTEST,  ,
      MENUITEM  SEPARATOR
      MENUITEM "User Option ~1\tAlt+1", MID_USER1,   ,
      MENUITEM "User Option ~2\tAlt+2", MID_USER2,   ,
      MENUITEM "User Option ~3\tAlt+3", MID_USER3,   ,
      MENUITEM "User Option ~4\tAlt+4", MID_USER4,   ,
      MENUITEM "User Option ~5\tAlt+5", MID_USER5,   ,
      MENUITEM "User Option ~6\tAlt+6", MID_USER6,   ,
      MENUITEM "User Option ~7\tAlt+7", MID_USER7,   ,
      MENUITEM "User Option ~8\tAlt+8", MID_USER8,   ,
      MENUITEM  SEPARATOR
      MENUITEM "~Create Desktop Object\tCtrl+F11", MID_CREATEOBJ,   ,
   END
   SUBMENU "~Settings",MID_SETTINGSMENU,    ,
   BEGIN
      MENUITEM "~Settings Notebook\tF12", MID_SETTINGS,  ,
      MENUITEM "~ToolBar\tCtrl+F12", MID_TOOLBAR,  ,MIA_CHECKED
   END
   SUBMENU "~Help",  MID_HELPMENU,     ,
   BEGIN
      MENUITEM "~General Help", MID_HELP,      ,
      MENUITEM "~Using Help", MID_USINGHELP,    ,
      MENUITEM "~Keys Help", MID_KEYSHELP,     ,
      MENUITEM  SEPARATOR
      MENUITEM "~Product Information", MID_ABOUT,  ,
      MENUITEM "~Contact Information", MID_REGISTER,     ,
   END
END

ACCELTABLE STDWINDOWID
BEGIN
   "1", MID_USER1, ALT
   "2", MID_USER2, ALT
   "3", MID_USER3, ALT
   "4", MID_USER4, ALT
   "5", MID_USER5, ALT
   "6", MID_USER6, ALT
   "7", MID_USER7, ALT
   "8", MID_USER8, ALT
   "a", MID_FILEATTR, CONTROL
   "A", MID_FILEATTR, CONTROL
   "b", MID_BOOKMARKS, CONTROL
   "B", MID_BOOKMARKS, CONTROL
   "c", MID_FILECOPY, CONTROL
   "C", MID_FILECOPY, CONTROL
   "d", MID_FILEDELETE, CONTROL
   "D", MID_FILEDELETE, CONTROL
   "e", MID_DIVIDERRIGHT, CONTROL
   "E", MID_DIVIDERRIGHT, CONTROL
   "f", MID_DIVIDERLEFT, CONTROL
   "F", MID_DIVIDERLEFT, CONTROL
   "m", MID_FILEMOVE, CONTROL
   "M", MID_FILEMOVE, CONTROL
   "p", MID_APPEND, CONTROL
   "P", MID_APPEND, CONTROL
   "r", MID_FILERENAME, CONTROL
   "R", MID_FILERENAME, CONTROL
   "s", MID_TREESIZE, CONTROL
   "S", MID_TREESIZE, CONTROL
   "t", MID_CREATEDIR, CONTROL
   "T", MID_CREATEDIR, CONTROL
   "v", MID_DEFAULTVIEW, CONTROL
   "V", MID_DEFAULTVIEW, CONTROL
   "w", MID_FILEFLOWED, CONTROL
   "W", MID_FILEFLOWED, CONTROL
   "x", MID_FILEICON, CONTROL
   "X", MID_FILEICON, CONTROL
   "y", MID_FILEDETAIL, CONTROL
   "Y", MID_FILEDETAIL, CONTROL
   "z", MID_FILEHEADINGS, CONTROL
   "Z", MID_FILEHEADINGS, CONTROL
   VK_F2, MID_ZIP, VIRTUALKEY
   VK_F2, MID_ZIPVIEWER, VIRTUALKEY, SHIFT
   VK_F3, MID_UNZIP, VIRTUALKEY
   VK_F3, MID_UNZIPTODIR, VIRTUALKEY, SHIFT
//   VK_F4, SC_CLOSE, VIRTUALKEY | ALT | SYSCOMMAND// - used by the system so trapped on the upstroke in WM_CHAR.
   VK_F4, MID_ZIPTEST, VIRTUALKEY
   VK_F5, MID_UNMARKALL, VIRTUALKEY
   VK_F5, MID_SORTBYNAME, VIRTUALKEY , SHIFT
   VK_F5, MID_REVSORTBYNAME, VIRTUALKEY , SHIFT , CONTROL
   VK_F6, MID_MARKALL, VIRTUALKEY
   VK_F6, MID_SORTBYDATE, VIRTUALKEY, SHIFT
   VK_F6, MID_REVSORTBYDATE, VIRTUALKEY , SHIFT , CONTROL
   VK_F7, MID_DESTINATION, VIRTUALKEY
   VK_F7, MID_SORTBYSIZE, VIRTUALKEY, SHIFT
   VK_F7, MID_REVSORTBYSIZE, VIRTUALKEY , SHIFT , CONTROL
   VK_F8, MID_SWAPSandD, VIRTUALKEY
   VK_F8, MID_SORTBYEXT, VIRTUALKEY, SHIFT
   VK_F8, MID_REVSORTBYEXT, VIRTUALKEY , SHIFT , CONTROL
   VK_F9, MID_PRINT, VIRTUALKEY
//VK_F9 SHIFTED is used by the system for editing object names.
   VK_F11, MID_EDIT, VIRTUALKEY
   VK_F11, MID_SEEK, VIRTUALKEY, SHIFT
   VK_F11, MID_CREATEOBJ, VIRTUALKEY, CONTROL
   VK_F12, MID_SETTINGS, VIRTUALKEY
   VK_F12, MID_REFRESH, VIRTUALKEY, SHIFT
   VK_F12, MID_TOOLBAR, VIRTUALKEY, CONTROL
   VK_RIGHT, MID_DRIVENEXT, VIRTUALKEY, CONTROL
   VK_LEFT, MID_DRIVEPREV, VIRTUALKEY, CONTROL
   VK_UP, MID_REFRESHLABELS, VIRTUALKEY, CONTROL
   VK_DOWN, MID_VOLUMELABEL, VIRTUALKEY, CONTROL
END

HELPTABLE HELPTABLEID
BEGIN
   HELPITEM STDWINDOWID, 100, 1000
   HELPITEM ZIPWINDOWID,     200,   3200
      HELPITEM  0,0,0
END

HELPSUBTABLE 200
BEGIN
   HELPSUBITEM VIEW_MID,           3210
   HELPSUBITEM EXTRACT_MID,      3220
   HELPSUBITEM EXTRACTTOPATH_MID,      3260
   HELPSUBITEM COMMENT_MID,      3230
   HELPSUBITEM QUIT_MID,           3240
   HELPSUBITEM DELETE_MID,           3250
END

HELPSUBTABLE 100
BEGIN
   HELPSUBITEM MID_FILE,        2100
   HELPSUBITEM MID_FILECOPY,  2110
   HELPSUBITEM MID_APPEND,  2115
   HELPSUBITEM MID_FILEMOVE,      2120
   HELPSUBITEM MID_FILEDELETE,    2130
   HELPSUBITEM MID_FILERENAME,    2140
   HELPSUBITEM MID_FILEATTR,       2170
   HELPSUBITEM MID_MARKALL,       2160
   HELPSUBITEM MID_UNMARKALL,     2150
   HELPSUBITEM MID_QUIT,            2180
   HELPSUBITEM MID_REFRESH,       2109
   HELPSUBITEM MID_DRIVES,         2300
   HELPSUBITEM MID_DRIVENEXT,     2310
   HELPSUBITEM MID_DRIVEPREV,     2320
   HELPSUBITEM MID_REFRESHLABELS,  2330
   HELPSUBITEM MID_VOLUMELABEL,   2340
   HELPSUBITEM MID_VIEW,           2400
   HELPSUBITEM MID_FILEDETAIL,    2410
   HELPSUBITEM MID_FILEHEADINGS,  2405
   HELPSUBITEM MID_FILEICON,        2415
   HELPSUBITEM MID_FILEFLOWED,    2420
   HELPSUBITEM MID_DEFAULTVIEW,   2425
   HELPSUBITEM MID_REVSORTBYNAME,    2431
   HELPSUBITEM MID_REVSORTBYSIZE,    2441
   HELPSUBITEM MID_REVSORTBYDATE,    2436
   HELPSUBITEM MID_REVSORTBYEXT,     2446
   HELPSUBITEM MID_SORTBYNAME,    2430
   HELPSUBITEM MID_SORTBYSIZE,    2440
   HELPSUBITEM MID_SORTBYDATE,    2435
   HELPSUBITEM MID_SORTBYEXT,     2445
   HELPSUBITEM MID_SHOWSYSTEM,    2455
   HELPSUBITEM MID_SHOWHIDDEN,    2450
   HELPSUBITEM MID_DIVIDERRIGHT,  2460
   HELPSUBITEM MID_DIVIDERLEFT,   2465
   HELPSUBITEM MID_OPTIONS,        2500
   HELPSUBITEM MID_PRINT,          2510
   HELPSUBITEM MID_EDIT,           2520
   HELPSUBITEM MID_ZIPTEST,        2550
   HELPSUBITEM MID_ZIP,            2530
   HELPSUBITEM MID_UNZIP,          2540
   HELPSUBITEM MID_UNZIPTODIR,   2545
   HELPSUBITEM MID_USER1,          2560
   HELPSUBITEM MID_USER2,          2560
   HELPSUBITEM MID_USER3,          2560
   HELPSUBITEM MID_USER4,          2560
   HELPSUBITEM MID_USER5,          2560
   HELPSUBITEM MID_USER6,          2560
   HELPSUBITEM MID_USER7,          2560
   HELPSUBITEM MID_USER8,          2560
   HELPSUBITEM MID_CREATEOBJ,    2570
   HELPSUBITEM MID_SEEK,            2528
   HELPSUBITEM MID_ZIPVIEWER,     2529
   HELPSUBITEM MID_SETTINGSMENU, 2800
   HELPSUBITEM MID_SETTINGS,       2600
   HELPSUBITEM MID_TOOLBAR,        2700
   HELPSUBITEM MID_KEYSHELP,     1200
   HELPSUBITEM MID_REGISTER,      3000
   HELPSUBITEM MID_ABOUT,         3000
   HELPSUBITEM MID_DIRECTORIES,  2200
   HELPSUBITEM MID_CREATEDIR,    2210
   HELPSUBITEM MID_DESTINATION,  2220
   HELPSUBITEM MID_SWAPSandD,    2230
   HELPSUBITEM MID_TREESIZE,      2240
   HELPSUBITEM MID_BOOKMARKS,      2250

END
